{
  "plugins": [
    "transform-regenerator",
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "~": "./"
        }
      }
    ]
  ],
  "presets": [
    ["env", { "modules": "commonjs" }],
    "react"
  ],
  "ignore": []
}
